# Ansible stuff

ansible/tmp
ansible/roles/get_datasets/files/zones
ansible/roles/get_datasets/files/kvsZones
ansible/roles/get_datasets/files/dns-rr.txt
ansible/roles/get_datasets/files/parsed_zonelist
ansible/roles/get_datasets/files/zonelist