#!/usr/bin/env bash

function stats {
  # Query: bytes, pkts, dropped, Reply: bytes, pkts, dropped
	if [ `uname` = "Linux" ]; then
		echo $(cat /proc/net/dev | grep ${iface} | awk '{print $2, $3, $5, $10, $11, $13}')
		# echo $(sudo netstat -i -b -n -d -I ${iface} | tail -n 1 | tr - 0 | awk '{print $8, $5, $7, $11, $9, $13-$7 }')
	else
		# FreeBSD still returns the bad value of the received bytes (4 more than in reality)
		# Because of that we substract 4 times number of packets from received (input) bytes
		echo $(sudo netstat -i -b -n -d -I ${iface} | grep ${iface} | head -n 1 | awk '{print $8-4*$5, $5, $7, $11, $9, $13-$7 }')
	fi
}

function mem_snap {
	free -m|awk '{print $3}'|tail -n 2 > $1
}

function cpu_snap {
	# %usr %nice %sys %iowait %irq
	mpstat | tail -1 | awk '{print $4, $5, $6, $7, $8}' > $1
}

function proc_snap {
	# avg 1 min / 5 min / 15 min
	cat /proc/loadavg > $1
}

iface={{ansible_default_ipv4['interface']}}

s0=$(stats)
# Save stats using given name
echo $s0 > $1

# Save memory snapshot
if [ -z "$2" ]; then
echo "Ignore memory snapshot"
else
mem_snap $2
fi

# Save cpu snapshot
if [ -z "$3" ]; then
echo "Ignore cpu snapshot"
else
cpu_snap $3
fi

# Save cpu snapshot
if [ -z "$4" ]; then
echo "Ignore load avg snapshot"
else
proc_snap $4
fi